<% @lamps.each do |lamp| %>
  <p>Material: <%= lamp.material %></p>
  <p>Color: <%= lamp.color %></p>
  <p>Bulbs: <%= lamp.bulbs %></p>
  <p>Manufacturer: <%= lamp.manufacturer %></p>
  <hr>
<% end %>